// Specific CSS for your home-page

.img-background {
  width: 100vw;
  z-index: -1;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.buton-log {
  border-radius: 40px;
  background-color: aliceblue;
  padding: 15px;
  text-decoration: none;
  color: #FF3767;
}

.sign {
  text-decoration: none;
  color: azure;
}

.patte {
  width: 70%;
}

.title {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: aliceblue;
  padding-bottom: 3rem;

}
