.nomatch {
  font-family: 'Poppins', sans-serif;
  color: $lightpink;
  height: 100%;
}

.flexx {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
}

.nameshmtc {
  margin: 0.5rem;
  color: $lightpink;
  margin-right: 1rem;
}

.ppp {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  margin-left: 0px;

.ddd {
  margin-top: 14rem;
  padding: 2rem;
}