.nomatch {
  font-family: 'Poppins', sans-serif;
  color: $lightpink;
  text-align: center;
}

.flexx {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
}
