.dog_image {
  width: 100%;
}

.pet_name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #FF6666;
}

.pet_user_border {
  border: 2px solid #FF3767;
}

.pet_user_size {
  font-size: 12px;
}
