.dog_image {
  width: 100%;
  margin: 0 auto;
  height: 310px;
  object-fit: cover;
  /* padding: 0 20px; */
  border-radius: 10px;
}

.pet_name {
  font-family: 'Poppins';
  font-style: normal;
  line-height: 28px;
  color: #FF6666;
  font-size: 1.5rem;
  font-weight: 500;
}

.pet_user_border {
  border: 2px solid #FF3767;
}

.pet_user_size {
  font-size: 12px;
}

.nmtop {
  margin-top: 0rem !important;
}
