.user-photo {
  width: 100%;
}

.btnstyle {
  border: solid;
  color: $lightpink;
  border-radius: 9999px;
  background-color: white;
  padding: 10px 86px;
  text-align: center;
  width: 70vw;
  align-self: center;
}

.btnstyle:focus-visible {
  outline: none;
}

.btnstyle:hover {
  color: $lightpink !important;
}

.mglftt{
  margin-right: 12rem;
  color: $lightpink;
}

.clr{
  color: $lightpink;
}

.logo {
  width: 30px;
  position: relative;
  top: -87px;
  border-radius: 9999px;
}
