.user-photo {
  width: 100%;
}

.btnstyle {
  border: solid;
  color: $lightpink;
  border-radius: 9999px;
  background-color: white;
}

.mglftt{
  margin-right: 12rem;
  color: $lightpink;
}

.clr{
  color: $lightpink;
}

.logo {
  width: 30px;
  position: relative;
  top: -87px;

}
