<h2><%= @user.name %></h2>

<% @user.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<% if policy(@user).edit? %>
  <%= link_to "Edit my profile", edit_user_path(@user) %>
<% end %>

<%= link_to 'your pet', pet_path %>
