  <div style="background-image: url(<%= image_path "background.jpg"%>)", class="img-background">
      <div class ="mgbthp">
  <div class="wrapper">
  <div class="main-circle">
    <svg height="143" viewBox="0 0 157 143" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.89962 83.8106C17.9705 43.959 55.5245 23.3919 78.502 7.72727C99.9142 22.3855 138.024 43.959 147.104 83.8106C161.561 147.263 92.8522 146.177 78.502 108.838C64.6042 145.171 -3.41526 149.556 9.89962 83.8106Z" stroke="#FFF" stroke-width="15" stroke-linejoin="round"/>
</svg>

    <div class="circle" id="a">
      <svg width="39" height="58" viewBox="0 0 59 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M51.2726 33.9546C51.2726 48.3893 43.1097 60.0909 33.0403 60.0909C22.9709 60.0909 8.09082 48.3893 8.09082 33.9546C8.09082 19.5198 22.9709 7.81818 33.0403 7.81818C43.1097 7.81818 51.2726 19.5198 51.2726 33.9546Z" stroke="#FFF" stroke-width="15" stroke-linejoin="round"/>
</svg>
    </div>
    <div class="circle" id="b">
      <svg width="63" height="75" viewBox="0 0 63 75" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M55.2729 34.1364C55.2729 50.4539 41.0609 67.0909 29.1366 67.0909C17.2122 67.0909 7.54565 53.863 7.54565 37.5455C7.54565 21.228 17.2122 8 29.1366 8C41.0609 8 55.2729 17.8189 55.2729 34.1364Z" stroke="#FFF" stroke-width="15" stroke-linejoin="round"/>
</svg>
    </div>
    <div class="circle" id="c">
      <svg width="66" height="75" viewBox="0 0 66 75" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M58.2727 37.5455C58.2727 53.863 48.6061 67.0909 36.6818 67.0909C24.7575 67.0909 8.27271 52.7266 8.27271 36.4091C8.27271 20.0916 24.7575 8 36.6818 8C48.6061 8 58.2727 21.228 58.2727 37.5455Z" stroke="#FFF" stroke-width="15" stroke-linejoin="round"/>
</svg>
    </div>
    <div class="circle" id="d">
      <svg width="39" height="58" viewBox="0 0 59 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M51.1818 33.6818C51.1818 48.1165 36.945 59.8182 26.6467 59.8182C16.3484 59.8182 8 48.1165 8 33.6818C8 19.2471 16.3484 7.54545 26.6467 7.54545C36.945 7.54545 51.1818 19.2471 51.1818 33.6818Z" stroke="#FFF" stroke-width="15" stroke-linejoin="round"/>
</svg>
    </div>
  </div>
</div>
</div>

      <h1 class="title"> TINPET</h1>
      <%= link_to 'Trouve ton match', new_user_session_path, class: "buton-log" %>
      <%# <%= link_to 'Sign in', new_user_registration_path, class: "sign" %>
      <%# <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: "sign" %>
  </div>
