.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 50%;
  width: 60px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;

}

.text {
  text-decoration: none;
  color: black;
  padding: 10px;
  &:hover {
    color: rgb(45, 2, 2);
  }
}

.msg {
  margin-left: 10px;
}


.card {
  border-radius: 10px 10px 0px 0px;
  height: calc(100vh - 250px - 35px); // la totalite de la view moins la navbar moins le profil
  overflow-y: scroll;
}

.chatbox-wrapper {
  margin: 20px;
  .form-control {
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    padding: 0.800rem 0.95rem;

  }
}

.message-content p {
  background-color: #FFDCDC;
  border: none !important;
  flex-grow: 1;
}

.message-content {
  margin-top: 10px;

}

.card-img{
  width: 100%;
}
