.crs {
  margin: 20px;
  border-radius: 10px;
  padding: 5px;

}

.k {
  padding: 20px;
}

.tt {
  font-size: medium;

}

.patte2 {
  width: 65px;
  margin: 10px auto;

}

.e {
  margin-bottom: -32px;
  margin-left: 20px;
}

.dsgmsg {
  padding: 1rem;
  height: 6rem;
  margin: 1rem;
  margin-bottom: -1rem !important;
  color: $lightpink;
}

.dsgavatar {
  height: 3rem !important;
  width: 3rem !important;
  border-radius: 9999px !important;
  margin-right: 1.4rem !important;
  margin-left: 0.5rem;
}

.gg {
  font-size: 12px;
}

.loupe {
  position: relative;
  width: 24px;
  right: -77px;
  top: 28px;
}
