.crs {
  margin: 20px;
  border-radius: 10px;
  padding: 5px;

}

.k {
  padding: 20px;
}

.tt {
  font-size: medium;

}

.patte2 {
  width: 65px;
  margin: 10px auto;
}

.e {
  margin-bottom: -32px;
  margin-left: 20px;
}
