button.swal2-confirm.swal2-styled {
  display: none !important;
}

.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0,100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  font-family: inherit;
  font-size: 1rem;
  height: 100vh;
}

.swal2-container {
  display: grid;
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  grid-template-areas:
      "top-start top top-end"
      "center-start center center-end"
      "bottom-start bottom-center bottom-end";
  grid-template-rows: minmax(min-content,auto) minmax(min-content,auto) minmax(min-content,auto);
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  transition: background-color .1s;
}
