
.styledborder {
  box-shadow: 0 0 15px rgb(200, 200, 200);
}

.infospet {
  display: flex;
  color: blue;
  justify-content: space-around;
}


.cul {
  //margin-block: 260px;
  color: #FF6666;

}

.container {
  display: flex;
  position: relative;
}

.photo_R {
  position: absolute;
  right: 140px;
}

.photo_L img{
  margin-right: 20px !important;
}

.match {
  font-family: 'Poppins';
  color: aliceblue;
}
