// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #FFFFFF;
}



.input-group > :not(:first-child):not(.dropdown-menu):not(.form-floating):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback), .input-group > .form-floating:not(:first-child) > .form-control, .input-group > .form-floating:not(:first-child) > .form-select {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mgleft {
  margin-left: 5rem;
}

.gr {
  color: #4AFF93;
}

.rd {
  color: #FF3767;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-weight: 500;
}

.dsgpopup {
  padding: 1rem !important;
    border: solid !important;
    border-radius: 9999px !important;
    width: 10rem !important;
    text-align: center !important;
    justify-content: space-around !important;
    margin: 4rem !important;
}

.dsgpopupp {
  padding: 1rem !important;
    border: solid !important;
    border-radius: 9999px !important;
    width: 10rem !important;
    text-align: center !important;
    justify-content: space-around !important;
    margin: 4rem !important;
    margin-top: -2rem !important;
}

.dsgimgpp {
  width: 5rem !important;
  height: 5rem !important;
  border-radius: 9999px !important;
}


.helllo{
  margin-top: 0 !important;
    color: black;
}


.mgbthp {
  margin-bottom: -2rem;
}

.jo{
  margin-bottom: -1.95rem;
  }
